<div class="container">
    
    {{#if cars}}
    <h2>Available Cars</h2>
    <ul>
        {{#each cars}}
        <li>{{make}} {{model}} - {{year}}</li>
        {{/each}}
    </ul>
    {{else}}
        <p class="text-danger">No cars available at the moment.</p>
    {{/if}}

</div>