<h3 class="my-3">
  Sign up below!
</h3>


<form action="/user" method="POST">
  <div class="form-group">
    <label for="name">First & Last Name:</label>
    <input type="text" id="name" name="name" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="email">E-Mail Address:</label>
    <input type="text" id="email" name="email" class="form-control" required>
  </div>
  
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" class="form-control" required>
  </div>

<div class="form-group">
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" class="form-control" required>
  </div>

  <div class="form-group">
    <div>
      <label for="dob">Date Of Birth:</label>
      <input type="date" id="dob" name="dob" class="form-control" required>
    </div>
  <br />
    <div>
      <label for="locale">Home Location:</label>
        <select name="location_id" id="location_id">
          <option value='1'>Location 1</option>
          <option value='2'>Location 2</option>
        </select>
    </div>
  </div>

   
  <button type="submit" class="btn btn-warning btn-xl mt-3">Sign Up</button>
</form>