<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torq - Reserve a peice of luxury</title>
</head>
<body>
    <header>
        <h1>Company Name Here</h1>
    </header>
    
    {{> navigation}}

    {{{body}}}

</body>
</html>